WebCorresponsalesTest/App_WebReferences/CorresponsalesService/WSCorresponsales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51199/WSCorresponsales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSCorresponsales" />
  <xs:element name="obtenerCorresponsales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCorresponsalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSCorresponsales" minOccurs="0" name="obtenerCorresponsalesResult" nillable="true" type="q1:ArrayOfCorresponsal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCorresponsalOficinaMaxLong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corresponsalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCorresponsalOficinaMaxLongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSCorresponsales" minOccurs="0" name="obtenerCorresponsalOficinaMaxLongResult" nillable="true" type="q2:Corresponsal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>