WebCorresponsalesTest/App_WebReferences/CorresponsalesService/WSCorresponsales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSCorresponsales" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSCorresponsales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCorresponsal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Corresponsal" nillable="true" type="tns:Corresponsal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorresponsal" nillable="true" type="tns:ArrayOfCorresponsal" />
  <xs:complexType name="Corresponsal">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroOfi" type="xs:int" />
      <xs:element minOccurs="0" name="ofiNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Corresponsal" nillable="true" type="tns:Corresponsal" />
</xs:schema>