WebCorresponsalesTest/App_WebReferences/CorresponsalesService/WSCorresponsalesImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSCorresponsalesImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51199/WSCorresponsales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51199/WSCorresponsales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51199/WSCorresponsales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSCorresponsales" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSCorresponsales_obtenerCorresponsales_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCorresponsales" />
  </wsdl:message>
  <wsdl:message name="IWSCorresponsales_obtenerCorresponsales_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCorresponsalesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCorresponsales_obtenerCorresponsalOficinaMaxLong_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCorresponsalOficinaMaxLong" />
  </wsdl:message>
  <wsdl:message name="IWSCorresponsales_obtenerCorresponsalOficinaMaxLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCorresponsalOficinaMaxLongResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSCorresponsales">
    <wsdl:operation name="obtenerCorresponsales">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCorresponsales/obtenerCorresponsales" message="tns:IWSCorresponsales_obtenerCorresponsales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCorresponsales/obtenerCorresponsalesResponse" message="tns:IWSCorresponsales_obtenerCorresponsales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCorresponsalOficinaMaxLong">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCorresponsales/obtenerCorresponsalOficinaMaxLong" message="tns:IWSCorresponsales_obtenerCorresponsalOficinaMaxLong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCorresponsales/obtenerCorresponsalOficinaMaxLongResponse" message="tns:IWSCorresponsales_obtenerCorresponsalOficinaMaxLong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSCorresponsales" type="tns:IWSCorresponsales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCorresponsales">
      <soap:operation soapAction="http://tempuri.org/IWSCorresponsales/obtenerCorresponsales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCorresponsalOficinaMaxLong">
      <soap:operation soapAction="http://tempuri.org/IWSCorresponsales/obtenerCorresponsalOficinaMaxLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCorresponsalesImpl">
    <wsdl:port name="BasicHttpBinding_IWSCorresponsales" binding="tns:BasicHttpBinding_IWSCorresponsales">
      <soap:address location="http://localhost:51199/WSCorresponsales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>